# Ignore Python virtual env
backend/venv/

# Ignore Node modules
frontend/node_modules/

# Ignore build and cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.DS_Store
*.log
.env

# Ignore build artifacts
frontend/build/
